@use "../setting/setting";

.c-topHeading__bg{
  position: absolute;
  top: 28px;
  left: 0;
  color: rgba(0, 120, 96, 0.1);
  font-size: 64px;
  letter-spacing: .05em;
  line-height: 1;
  font-family: "Cinzel",serif;
  text-transform: uppercase;

  @media (min-width: 768px){
    font-size: 88px;
  }

  @media (min-width: 1024px){
    left: 3%;
    top: 80px;
    font-size: 96px;
  }
}

.c-topHeading{
  margin-top: 16px;

  span{
    color: setting.$color-main;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


@media (min-width: 1024px){
  .c-topHeading{
    span{
      font-size: 20px;

      &:after{
        width: 80px;
      }
    }

    h2{
      font-size: 34px;
      line-height: 1.5;
    }
  }
}

 .c-topHeading__center{
  text-align: center;
 }