@use "../setting/setting";
.p-member{
  padding: 40px 0;
}

.p-member__img{
  img{
    display: block;
    margin: 0 auto;
  }
}

.p-member__texts{
  h3{
    font-weight: bold;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 8px;

    &:after{
      content: '';
      position: absolute;
      width: 220px;
      height: 1px;
      background: setting.$color-main;
      bottom: 0;
      left: 0;
    }
  }

  span{
    display: inline-block;
    margin-left: 12px;
    font-weight: normal;
  }
}

.p-member__pana{
  max-width: 620px;
  margin: 0 auto;
  padding-top: 20px;

  p{
    padding-top: 16px;
  }

  a{
    font-weight: bold;
    color: setting.$color-link;
    text-decoration: underline;
  }
}

.p-member__member{
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.p-member__item{
  padding-bottom: 16px;
  h3{
    font-size: 18px;
    padding-top: 12px;

    span{
      font-size: 14px;
      display: inline-block;
      padding-right: 12px;
    }
  }

  p{
    padding-top: 8px;
  }

  img{
    border-radius: 10px;
  }
}

@media (min-width: 768px){


  .p-member__item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;

    img{
      width: 40%;
      min-height: 275px;
    }
  }

  .p-member__texts{
    width: 55%;
  }
}



@media (min-width: 1024px){
  .p-member__member{
    &:after{
      content: '';
      display: block;
      width: 32%;
    }
  }
}

@media not all and (min-width: 768px){


  .p-member__item:not(:first-child){
    padding-top: 28px;
  }
}

@media not all and (min-width: 1024px){
  .p-member__access{

    tr{
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      }

    th{
      display: block;
      padding: 20px 12px 8px;
      font-size: 18px;
        
    }

    td{
      display: block;
      padding: 8px 0 20px 12px;
    }
  }
} 



@media (min-width: 1024px){
  .p-member{
    padding: 64px 0;
  }
  .p-member__access{

    th{
      padding: 20px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      width: 120px;
      vertical-align: top;
    }

    td{
      padding: 20px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;

      a{
        text-decoration: underline;
      }
    }
  }
}